@import url("https://fonts.googleapis.com/css?family=Raleway");
/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
#main {
  width: 960px;
  margin: 50px auto;
  font-family: raleway;
}
span {
  color: red;
}
.wrapper {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}
h2 {
  background-color: #feffed;
  text-align: center;
  border-radius: 10px 10px 0 0;
  margin: -10px -40px;
  padding: 15px;
}
hr {
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 10px -40px;
  margin-bottom: 30px;
}
#login {
  width: 300px;
  float: left;
  border-radius: 10px;
  font-family: raleway;
  border: 2px solid #ccc;
  padding: 10px 40px 25px;
  margin-top: 70px;
}
input[type="text"],
input[type="password"] {
  width: 99.5%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  padding-left: 5px;
  font-size: 16px;
  font-family: raleway;
}
input[type="submit"] {
  width: 100%;
  background-color: #1abc9c;
  color: #fff;
  border: 2px solid #1abc9c;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 15px;
}
#profile {
  padding: 50px;
  border: 1px dashed grey;
  font-size: 20px;
  background-color: #dce6f7;
}
#logout {
  float: right;
  padding: 5px;
  border: dashed 1px gray;
}
a {
  text-decoration: none;
  color: #6495ed;
}
i {
  color: #6495ed;
}
