@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
/* Reminder to devs: can use Ctrl + e to open built in color selector in brackets*/
body {
  font-family: "Lato", sans-serif;
  
}

h2 {
  padding: 2px;
  margin: 2px;
  margin-bottom: 5px;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  text-shadow: 1px 1px 2px rgba(0,0,0,.3);
  letter-spacing: .05em;
}

form {
  width: 80vw;
  height: 45vh;
  margin: auto;
}

.background {
  padding: 10px;
  text-align: center;
}
#title {
    margin-bottom: 7px;
}

label {
  float: left;
  width: 50%;
  text-align: right;
}

input,
select {
  padding: 2px;
  margin: 10px;
  max-width: 13em;
  border-color: #cecece;
  border: 1px outset;
  border-top: none;
  border-left: none;
  float: left;
}
select {
    
}

button {
  display: block;
  text-align: center;
  margin: auto;
  clear: left;
  color: white;
  background-color: #1abc9c;
  border: 2px solid white;
  font-size: 20px;
  border-radius: 8px;
}
button:hover {
  color: #111;
  background: white;
  border: 1px solid black;
}
div {
  line-height: 200%;
}

br {
    display: inline-block;
    float: left;
    clear: left;
    width: 50%;
    text-align: right;
}

ul{
    list-style-type: none;
    padding:10px;
    margin:auto;
}
li.checkout-list {
    padding:0px;
}
li{
    padding:5px;
    text-align:center;
    margin:auto;

}
