/*Benjamin Bond*/
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
    font-family: "Lato", sans-serif;
}
form {
    width: 80vw;
    height: 80vh;
    margin: auto;
}

.background {
    padding: 10px;
    text-align: center;
}
label {
    display: inline-block;
    float: left;
    clear: left;
    width: 50%;
    padding-right: 4px;
    text-align: right;
}
input,
select {
    padding: 2px;
    margin: 2px;
    display: inline-block;
    float: left;
}
button {
    display: block;
    margin: auto;
    clear: left;
    width: 70px;
}
.user-input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px solid black;
    
    
    
}

h2 {
    padding: 2px;
    margin: 2px;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    display: inline-block;
}
